# Python cache
__pycache__/
*.pyc

# Environment / API keys
.env
*.env

# VS Code settings
.vscode/

#data
data_training_selected_clusters_comments_and_rules.csv
prepared_dataset.csv
removed_comments_rules.csv
subreddits-descriptions.csv
tests.csv
train.csv
results.json
output.json